<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato&family=Montserrat:ital,wght@1,800&family=Open+Sans:wght@300;400;500&family=Raleway&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="icon"
        href="https://res.cloudinary.com/drpgvnojt/image/upload/v1741141228/png-transparent-hindu-deity-illustration-ugadi-tirumala-telugu-people-new-year-venkateswara-wish-gold-new-year-thumbnail_itbcia-removebg-preview_seoyld.png"
        type="image/x-icon" />
    <link rel="stylesheet" href="booking.css">
    <title>kelisa</title>
</head>

<body>
    <div class="bookingform">
        <form action="/bookroom" method="post">
            <label for="fromDate">From Date:</label><br>
            <input type="date" id="fromDate" name="fromDate"><br>
            <label for="toDate">To Date:</label><br>
            <input type="date" id="toDate" name="toDate"><br>
            <input type="gmail" placeholder="Enter Gmail" name="gmail"><br>
            <input type="tel" placeholder="Phone Number" name="phonenumber"><br>
            <div class="details">
                <p>See Room Details</p>
                <p>Per Day Cost:- ₹2400 + Taxes</p>
                <p>5 People max for room(Extra Charges For More People)</p>
            </div>
            <input type="number" placeholder="How many rooom needed?" name="noOfRooms" min="1">
            <input type="number" placeholder="For how many people?" name="people" min="1">

            <button>Book</button>
        </form>
    </div>
    <script>
        document.getElementById('fromDate').addEventListener('change', function () {
            let fromDate = new Date(this.value);
            if (!isNaN(fromDate.getTime())) {
                let nextDay = new Date(fromDate);
                nextDay.setDate(fromDate.getDate() + 1);

                let nextDayStr = nextDay.toISOString().split('T')[0];
                let toDate = document.getElementById('toDate');

                toDate.min = nextDayStr; 
                if (toDate.value && toDate.value < nextDayStr) {
                    toDate.value = nextDayStr; 
                }
            }
        });
    </script>
</body>

</html>