<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato&family=Montserrat:ital,wght@1,800&family=Open+Sans:wght@300;400;500&family=Raleway&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="icon"
        href="https://res.cloudinary.com/drpgvnojt/image/upload/v1741141228/png-transparent-hindu-deity-illustration-ugadi-tirumala-telugu-people-new-year-venkateswara-wish-gold-new-year-thumbnail_itbcia-removebg-preview_seoyld.png"
        type="image/x-icon" />
    <link rel="stylesheet" href="home.css">
    <title>Kalisa</title>
</head>

<body>
    <div class="navbars" style="background-color: transparent !important; box-shadow: none !important;">
        <nav class="navbar navbar-expand-lg bg-transparent"> <!-- Changed bg-body-tertiary to bg-transparent -->
            <div class="container-fluid">
                <!-- <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741141131/download-removebg-preview_1_xdnx2r.png" alt=""
                    class="govindha"> -->
                <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741169690/undefined_-_Imgur-removebg-preview_zhs2ke.png"
                    alt="" class="govindha">
                <div class="collapse navbar-collapse" id="navbarNav" style="color: #fff;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="li1" style="color: #fff !important;">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.google.com/maps?q=13.6092710494995,79.4410095214844"
                                target="_blank" id="li2" style="color: #fff !important;">Location</a>
                        </li>
                        <li class="nav-item" id="scrollButton">
                            <a class="nav-link" href="#" id="li3" style="color: #fff !important;">Contact</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="/landmarks"  style="color: #fff !important;">Landmarks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="title">
        <p class="kalisa">Kalisa</p>
        <!-- <p class="type"></p> -->
        <p class="tagLine">Luxurious rooms at affordable prices </p>
        <div class="book">
            <a href="" class="booking">Book Now</a>
        </div>
        <div class="pics">
            <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1740983463/images_nagtei.jpg" alt=""
                class="pic1"><img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741081985/images_zgvxnj.jpg"
                style="outline: none;" class="pic2">
            <img class="pic3"
                src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741081967/download_irixcg.jpg"><img
                src="https://res.cloudinary.com/drpgvnojt/image/upload/v1740983441/download_c4kiyn.jpg" alt=""
                class="pic4">

        </div>
    </div>
    <div class="square"></div>
    </div>
    <div class="second">
        <div class="features">
            <p class="service">Amenities</p>
            <ul class="bullets" type="disk">
                <li class="amenity">Free Wi-Fi</li>
                <li class="amenity">Parking</li>
                <li class="amenity">Swimming Pool</li>
                <li class="amenity">Spa & Wellness</li>
                <li class="amenity">Restaurant</li>
            </ul>
        </div>
        <!-- <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741505171/hotel_2_anazcs.png"
                alt="Decorative Icon" class="icon"> -->

        <!-- <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741506398/hotel_4_icjanc.png"
            alt="Decorative Icon" class="icon"> -->
        <img src="https://res.cloudinary.com/drpgvnojt/image/upload/v1741506597/bed_jmn4iz.png" alt="Decorative Icon"
            class="icon">
    </div>
    <footer class="footer" id="bottom">
        <p class="fhead">Contact us </p>
        <p>Revanth Reddy</p>
        <p>Cell : 9121470674 , 6301288894</p>
        <p> Address : Bank colony Beside Rahul Convention Tirupati By-pass , Tiruchanur AP-517503</p>

    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const square = document.querySelector(".square");

            for (let i = 0; i < 20; i++) {
                let line = document.createElement("div");
                line.classList.add("line");
                line.style.left = `${i * 15}px`;
                line.style.animationDelay = `${i * 0.1}s`;
                square.appendChild(line);
            }
        });
        document.addEventListener("DOMContentLoaded", function () {
            const amenities = document.querySelectorAll(".amenity");
            const observerOptions = {
                threshold: 0.2
            };

            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry, index) => {
                    if (entry.isIntersecting) {
                        setTimeout(() => {
                            entry.target.classList.add("show");
                        }, index * 100);
                    }
                });
            }, observerOptions);

            amenities.forEach((amenity) => {
                observer.observe(amenity);
            });
        });
        document.getElementById("scrollButton").addEventListener("click", function () {
            document.getElementById("bottom").scrollIntoView({ behavior: "smooth" });
        });
    </script>
    <!-- <a href="https://www.flaticon.com/free-icons/architecture-and-city" title="architecture and city icons">Architecture
        and city icons created by Satria Arnata - Flaticon</a> -->
</body>

</html>