<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lato&family=Montserrat:ital,wght@1,800&family=Open+Sans:wght@300;400;500&family=Raleway&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
                rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
                crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous" />
        <link rel="icon"
                href="https://res.cloudinary.com/drpgvnojt/image/upload/v1741141228/png-transparent-hindu-deity-illustration-ugadi-tirumala-telugu-people-new-year-venkateswara-wish-gold-new-year-thumbnail_itbcia-removebg-preview_seoyld.png"
                type="image/x-icon" />
        <link rel="stylesheet" href="landmarks.css">
        <style>
                .homebutton {
                        display: inline-block;
                        padding: 1% 5%;
                        /* transform: translateY(20px); */
                        margin-top: 3%;
                        margin-left: 40%;
                        color: #fff;
                        border-radius: 50px;
                        font-weight: bold;
                        font-size: medium;
                        color: white;
                        background-color: rgb(42, 177, 231);
                }

                .homebutton:hover {
                        box-shadow: 7px 5px 56px -14px #5af6f3;
                        transition: all 0.3s ease-out;
                        color: rgb(42, 177, 231);
                        background-color: white;
                        /* border: 2px solid rgb(42, 177, 231); */
                        text-decoration: none;
                }
        </style>
        <title>kalisa</title>
</head>

<body>
        <h1>Landmarks to visit</h1>
        <ul>
                <li><a href="https://www.google.com/maps/place/Sri+Venkateswara+Swamy+Temple/@13.708538,79.3153999,12.17z/data=!4m6!3m5!1s0x3bb2b562a5cc709b:0x407a00bd52587d32!8m2!3d13.6844731!4d79.3477886!16s%2Fm%2F026gs6_?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Venkateswara Swami Temple Thirumala</a> </li>
                <li><a href="https://www.google.com/maps/place/JAPALI+TIRTHAM,+TIRUMALA/@13.6966012,79.3316695,17z/data=!4m14!1m7!3m6!1s0x3bb2cb004c7b974b:0x80bab246f098c17!2sJAPALI+TIRTHAM,+TIRUMALA!8m2!3d13.6966012!4d79.3365404!16s%2Fg%2F11wmxj291y!3m5!1s0x3bb2cb004c7b974b:0x80bab246f098c17!8m2!3d13.6966012!4d79.3365404!16s%2Fg%2F11wmxj291y?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Japali Theertham</a></li>
                <li><a href="https://www.google.com/maps/place/Kapila+Teertham/@13.6563509,79.4182632,16.85z/data=!4m6!3m5!1s0x3a4d4af6c2fb31dd:0x23b1fe98e308b98!8m2!3d13.6562915!4d79.4210248!16s%2Fg%2F1tgd9t_n?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Kapila Theertham</a></li>
                <li><a href="https://www.google.com/maps/place/Regional+Science+Centre,+Tirupati/@13.6432054,79.3953656,17z/data=!3m1!4b1!4m6!3m5!1s0x3a4d4adf2322e143:0xd670c10ef3a5cbd7!8m2!3d13.6432054!4d79.3979405!16s%2Fg%2F11g6j8x9gs?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Science Exhibition</a></li>
                <li><a href="https://www.google.com/maps/place/Zoo+Park+Tirupathi/@13.6253606,79.3615326,17z/data=!3m1!4b1!4m6!3m5!1s0x3bb2b500438a7a91:0xa0ed57190804f612!8m2!3d13.6253606!4d79.3641075!16s%2Fg%2F11wmhm9_7l?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Sri Venkateswara Zoological Park</a></li>
                <li><a href="https://www.google.com/maps/place/Chandragiri+Fort/@13.5830349,79.3027838,17z/data=!3m1!4b1!4m6!3m5!1s0x3bb2b3f75c9a233f:0xae39276156e407ac!8m2!3d13.5830349!4d79.3053587!16s%2Fm%2F0w6hhj_?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Chandragiri Fort</a></li>
                <li><a href="https://www.google.com/maps/place/Padmavathi+Temple+Garden/@13.6064875,79.4475032,17z/data=!3m1!4b1!4m6!3m5!1s0x3a4d4bf2f209fdd1:0x9c2a075a7d399f6e!8m2!3d13.6064875!4d79.4500781!16s%2Fg%2F1tcvxvfb?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Sri Padmavathi Temple Managapuram</a></li>
                <li><a href="https://www.google.com/maps/place/Jungle+Book+%26+Park/@13.6551719,79.4179505,17z/data=!3m1!4b1!4m6!3m5!1s0x3a4d4af7263ec1ad:0xa69a4f24d404ec54!8m2!3d13.6551719!4d79.4205254!16s%2Fg%2F1vtzfn1p?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Jungle Book Theme Park</a></li>
                <li><a href="https://www.google.com/maps/place/Talakona+Waterfall/@13.8115525,79.213303,17z/data=!3m1!4b1!4m6!3m5!1s0x3bb2cf83d7758d0f:0x40505ef79b330fa4!8m2!3d13.8115525!4d79.2158779!16s%2Fm%2F03npsvt?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Talakona Waterfalls</a></li>
                <li><a href="https://www.google.com/maps/place/Sila+toranam+tirumala/@13.6874079,79.3376985,17z/data=!3m1!4b1!4m6!3m5!1s0x3bb2cb489738c621:0x1042587bd96b6224!8m2!3d13.6874079!4d79.3402734!16s%2Fg%2F11v60r6c_r?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">Silathoranam (Natural Rock Arch)</a></li>
                <li><a href="https://www.google.com/maps/place/ISKCON+Temple,+Tirupati/@13.6468678,79.4112608,17z/data=!3m1!4b1!4m6!3m5!1s0x3a4d4ae4a3ac9c4f:0x6df8f645a117fdf9!8m2!3d13.6468678!4d79.4138357!16s%2Fg%2F11jz8kd715?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank">ISKCON Tirupati</a></li>
        </ul>
        <a href="/" class="homebutton">GO HOME</a>
</body>

</html>